/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 15px;
}

/* Each module */
#battery,
#backlight,
#disk,
#clock,
#cpu,
#bluetooth,
#memory,
#mode,
#network,
#pulseaudio,
#mpd,
#window,
#workspaces,
#language,
#tray {
  border-top: 1px solid #595959;	
  border-left: 1px solid #595959;	
  border-right: 1px solid #595959;	
  border-bottom: 1px solid #595959;
  border-radius: 5px;
  /*background-color: #121212*/ /*noirblaze*/
  background-color: #191724; /*rose-pine*/ 
  opacity: 0.8;
  /*color: #d5d5d5;*/ /*noirblaze*/
  color: #e0def4;   /*rose-pine*/
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;

}
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: normal;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
  color: grey;
}



#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight:bold; 
}

window#waybar.empty #window {
    border: none;	
    color: transparent;
    background-color: transparent;
}

window#waybar.fullscreen #window {
   border-color: #191724;
   color: #191724;
   background-color: #e0def4;
}


#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

#workspaces button.active {
    /*border-color: #d5d5d5;*/
    /*color: #121212;*/
    /*background-color: #d5d5d5;*/ /*noirblaze*/
    border-color: #e0def4;
    color: #191724;
    background-color: #e0def4; /*rose-pine*/
}

#workspaces button.urgent {
    border-color: orange;
    color: #000000;
    background-color: red;
}
