@import "mocha.css";
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @peach;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @text;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 14px;
}

/* Each module */
#hardware,
#indicators,
#disk,
#time,
#mpd,
#window,
#workspaces,
#language,
#tray {
  border-radius: 5px;
  /*background-color: #121212*/ /*noirblaze*/
  background-color: @base;
  opacity: 0.8;
  /*color: #d5d5d5;*/ /*noirblaze*/
  color: @text;   /*catppuccin-mocha*/
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;

}
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#time {
    border-left: 1px solid @blue;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @peach;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}


#network {
    /* No styles */
}

#network.disconnected {
    color: @peach;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
  color: @teal;
}

#wireplumber {
	/*No Styles*/
}

#wireplumber.muted {
 color:@teal;
 }


#temperature {
    /* No styles */
}

#temperature.critical {
    color: @red;
}

#tray {
    /* No styles */
}

#window {
    font-weight:bold; 
}

window#waybar.empty #window {
    border: none;	
    color: transparent;
    background-color: transparent;
}

window#waybar.fullscreen #window {
   border-color: @base;
   color: @base;
   background-color: @text; /*catppuccin*/
}


#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: @text;
}

#workspaces button.active {
    /*border-color: #d5d5d5;*/
    /*color: #121212;*/
    /*background-color: #d5d5d5;*/ /*noirblaze*/
    border-color: @text;
    color: @base;
    background-color: @text; /*catppuccin*/
}

#workspaces button.urgent {
    border-color: @peach;
    color: @base;
    background-color: @red;
}

#hardware {
	border-left: 1px solid @blue;
}
